*{
    padding: 0px;
    margin: 0px;
    font-family: 'open sans', sans-serif;
}

body {
    background-color: #c8e4fb;
    font-family: 'open sans' , sans-serif;
    color: black;
    min-width: 350px;
    text-decoration: none;
}

.menulinks{
    text-decoration: none;
}