*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

body{
    background-color: #f4f9f4;
    align-content: center;
    color: black;
    max-width:2000px;
    min-width: 350px;
}

h2{
    margin-top: .5rem;
    margin-bottom: .5rem;
    text-align: center;
    font-family: 'roboto', sans-serif;
    font-size: 3rem;
    font-weight: 400;
}
.my-login-container{
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 10px;
}

.my-login-image{
    background-image: url('../img/loginimage.jpg');
    width: 100%;
    height: 700px;
    background-size: cover;
    position: relative;
    border-radius: 5px 0px 0px 5px;
}

my-login-side-container{
    border-radius: 0px 5px 5px 0px;
    border-color: white;
    
}
.my-connexion{
    margin-top: 4rem;
    margin-left: 8%;
    font-family: 'open sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    
}

.my-input-explainer{
    margin-top: 1.5rem;
    margin-left: 8%;
    font-family: 'open sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
}


.my-input{
    margin-top: .5rem;
    margin-right: 8%;
    margin-bottom: .8rem;
    margin-left: 8%;
    width: 84%;
    height: 3.5rem;
    border-radius: 4px;
    font-family: 'roboto', sans-serif;
    font-size: 1.5rem;
    background-color: #f4f3f3;
    border: 1px solid black;
    text-align: center;
}

.my-input:hover{
    border: 1px solid #b1bed5;
    box-shadow: 0px 0px 5px;
}

.my-checkbox{
    margin-left: 8%;
    margin-bottom: 1rem;
    font-family: 'roboto', sans-serif;
    font-size: 1.4rem;
    
}

.my-btn{
    margin-top: 1.5rem;
    margin-right: 8%;
    margin-bottom: .5rem;
    margin-left: 8%;
    width: 84%;
    height: 4rem;
    border-radius: 4px;
    font-family: 'roboto', sans-serif;
    font-size: 1.5rem;
    background-color: #66bfbf;
}

.my-btn:hover{
    border: 2px solid black;
    background-color: #0fc9e7;
}

.my-input-link{
    margin-top: 0.1rem;
    margin-left: 8%;
    color: black;
    text-decoration: none;
    font-family: 'open sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
}

.my-link{
    margin-top: 1rem;
    color: black;
}